<!-- 
    <div class="spinner-container" *ngIf="(loading$ | async )">
        <mat-spinner></mat-spinner>
    </div>
    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="mentees-matching$ | async">
        
        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let mentee">{{mentee.Mentee}}</mat-cell>
        </ng-container>
        
       
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <td mat-cell *matCellDef="let mentee" class="action-link"> 
                <button mat-icon-button color="warn" (click)="openDialog('Update',mentee)">
                        <mat-icon class="mat-18">edit</mat-icon>
                </button>   
                <button mat-icon-button color="warn" (click)="openDialog('Update',element)">
                        <mat-icon class="mat-18">delete</mat-icon>
                </button>
        </td>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table> -->

