@import 'src/assets/styles/mixins.scss';
.nz-select {
  width: 200px;
}
.options {
    padding: 0;
    margin: 0;
    margin-bottom: rem(30);
    list-style: none;
  }
  
  .option {
    display: block;
    margin-right: rem(26);
    margin-bottom: rem(5);
    font-size: rem(13);
    color: $text;
  
    &:last-child {
      margin-right: 0;
    }
  }
  
  .optionCheckbox {
    ::ng-deep {
      .ant-checkbox-wrapper {
        color: $text;
  
        .ant-checkbox {
          top: -0.19em;
        }
  
        .ant-checkbox-inner {
          border-color: $gray-darken;
        }
  
        .ant-checkbox-checked {
          .ant-checkbox-inner {
            background-color: $blue-darken;
          }
          &:after {
            border: 1px solid $gray-darken;
          }
        }
      }
    }
  }