<div class="row" style="background: #fff;">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
        <div class="text-center mt-2">
            <h1 class="font-weight-bold">Our Mentoring Experience</h1>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
        <div class="text-center font-size-16">
            <p><span class="font-weight-bold">Our Mentoring offering is designed to support RMB’s commitment to
                    actively invest in growing our talent.</span>
                Mentoring is a powerful tool for employees who want to <span class="font-weight-bold">learn,
                    grow</span> and <span class="font-weight-bold">evolve</span> in their careers.</p>
            <p>Take up the opportunity to sign up as a mentor and invest in the growth of a mentee. Or foster your
                growth by signing up as a mentee and tap into the wisdom and insights of a mentor.
                Either way, you can expect it will be a rich learning experience for both parties.
            </p>

        </div>
    </div>

</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-1">


    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
            <div class="text-center">
                <h2 class="font-weight-bold ">Getting you started</h2>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
            <div class="text-center font-size-16">
                Visit the <em><a href="http://thevault/ourbusiness/HC_Enablement/Mentoring/index_orig1.html"
                        target="_blank">Mentoring site</a></em> on the <em><a
                        href="http://thevault/ourbusiness/HC_Enablement/Mentoring/index_orig1.html" target="_blank">Grow
                        Lounge</a></em> to learn more and sign up here as a mentee or mentor.

            </div>
        </div>

        <div class="row d-flex justify-content-between col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mx-4">
                <div class="text-center">
                    <img class="img-fluid" src="./assets/images/home-3-1.png">
                </div>

                <div class="text-center">
                    <h4 class="font-weight-bold mt-2">Meeting your Growth Partner</h4>
                </div>
                <div class="text-center font-size-16">
                    Prospective mentees and mentors to have an exploratory chat to test connection and
                    alignment on mentoring outcomes
                </div>
            </div>
            <!-- <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 mx-4">
                <div class="text-center">
                    <img class="img-fluid" src="./assets/images/home-3-2.png">
                </div>

                <div class="text-center">
                    <h4 class="font-weight-bold mt-2">Track your progress</h4>
                </div>
                <div class="text-center font-size-16">
                    Invite feedback, course correct throughout the year and track progress.
                </div>
            </div> -->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mx-4">
                <div class="text-center">
                    <img class="img-fluid" src="./assets/images/home-3-3.png">
                </div>

                <div class="text-center">
                    <h4 class="font-weight-bold mt-2">You are on your Way</h4>
                </div>
                <div class="text-center font-size-16">
                    Formalise the mentoring relationship, immerse yourself in the mentoring journey and track progress
                </div>
            </div>

        </div>
    </div>



</div>

<div class="row mt-4">
    <div class="footer">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
            <div class="text-center font-size-16 pt-3">

                <p>Please contact <em><a href="mailto:mentoring&connection@rmb.co.za"><strong>Grow
                                Lounge</strong></a></em>
                    for any queries you may have.</p>

            </div>
        </div>

    </div>
</div>