.card-profile-image {
	position: relative;
}
.card-profile-image img {
	position: absolute;
	left: 50%;
	max-width: 180px;
	transition: all .15s ease;
	transform: translate(-50%, -30%);
	border-radius: .375rem;
}
.card-profile-image img:hover {
	transform: translate(-50%, -33%);
}
.card-profile-stats {
	padding: 1rem 0;
}
.card-profile-stats>div {
	margin-right: 1rem;
	padding: .875rem;
	text-align: center;
}
.card-profile-stats>div:last-child {
	margin-right: 0;
}
.card-profile-stats>div .heading {
	font-size: 1.1rem;
	font-weight: bold;
	display: block;
}
.card-profile-stats>div .description {
	font-size: .875rem;
	color: #adb5bd;
}
// @media (min-width: 1200px) {
    .shadow,
    .card-profile-image img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
    }
    .card-profile-image {
        position: relative;
        }
        
        .card-profile-image img {
        position: absolute;
        left: 50%;
        max-width: 180px;
        transition: all .15s ease;
        transform: translate(-50%, -30%);
        border-radius: .375rem;
        }
        
        .card-profile-image img:hover {
        transform: translate(-50%, -33%);
        }
        
        .card-profile-stats {
        padding: 1rem 0;
        }
        
        .card-profile-stats>div {
        margin-right: 1rem;
        padding: .875rem;
        text-align: center;
        }
        
        .card-profile-stats>div:last-child {
        margin-right: 0;
        }
        
        .card-profile-stats>div .heading {
        font-size: 1.1rem;
        font-weight: bold;
        display: block;
        }
        
        .card-profile-stats>div .description {
        font-size: .875rem;
        color: #adb5bd;
        }
// }
.rounded-circle {
	border-radius: 50% !important;
}