<div class="container ">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12">
            <form [formGroup]="searchForm" (ngSubmit)="submit()">
                <div class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <mat-icon class="icon-display">search</mat-icon>
                            <!-- <i class="fas fa-search h4 text-body"></i> -->
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search"
                                placeholder="Search mentees by name" formControlName="fullName">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit" [disabled]="!searchForm.valid">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
    <div class="spinner-container" *ngIf="(loading$ | async)">
        <mat-spinner></mat-spinner>
    </div>
    <br>
    <div *ngIf="dataSource['data'].length > 0">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="finYear">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fin year </th>
                <td mat-cell *matCellDef="let element"> {{element.FinYear}} </td>
            </ng-container>
            <ng-container matColumnDef="menteeFullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mentee </th>
                <td mat-cell *matCellDef="let element"> {{element.MenteeFullName}} </td>
            </ng-container>
            <ng-container matColumnDef="mentorFullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mentor </th>
                <td mat-cell *matCellDef="let element"> {{element.MentorFullName}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
            </ng-container>
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start date </th>
                <td mat-cell *matCellDef="let element"> {{element.StartDate | date}} </td>
            </ng-container>
            <ng-container matColumnDef="finishDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Finish date </th>
                <td mat-cell *matCellDef="let element"> {{element.EndDate | date}} </td>
            </ng-container>
    
    
    
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Update </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="accent"  [routerLink]="['/admin/view', element.MentorId, element.MenteeId]">
                        <mat-icon class="mat-18">edit</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
           
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]" (page)="pageChanged($event)">
        </mat-paginator>
    
        <br />
    
        <div *ngIf="mentorsmatch$ | async as matches">
           
            <app-admin-auto-match [matches]="matches" [isDelete]="isDelete" [menteeName]=[menteeName]></app-admin-auto-match>
         
        </div>
    </div>
</div>