
<div class="spinner-container" *ngIf="(loading$ | async )">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="menteeinfo$| async as menteeinfo">
    <div class="text-right">
        <mat-icon (click)="closeCard()" style="cursor: pointer">close</mat-icon>
    </div>
    <h2 mat-dialog-title>Mentee info</h2>
    <mat-dialog-content>

<div class="container emp-profile">
   
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="../user_photos/{{menteeinfo.EmployeeId}}.jpg?size=200" alt=""/>
                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <!-- <h6 class="text-uppercase font-weight-light text-secondary">
                        Contact Information
                    </h6> -->
                    <dl class="row"  style="font-size: 0.8em;">
                        <dt class="col-md-5 col-sm-4">Mentee</dt>
                        <dd class="col-md-7 col-sm-8">{{menteeName}}</dd>
                        
                        <dt class="col-md-5 col-sm-4">Division</dt>
                        <dd class="col-md-7 col-sm-8"> {{menteeinfo.Division}}</dd>

                        <dt class="col-md-5 col-sm-4">Business unit</dt>
                        <dd class="col-md-7 col-sm-8"> {{menteeinfo.bu}}</dd>

                        <dt class="col-md-5 col-sm-4">Availability</dt>
                        <dd class="col-md-7 col-sm-8">{{menteeinfo.Duration}} &nbsp; month(s)</dd>

                        
                        <dt class="col-md-5 col-sm-4">Prefered mentor</dt>
                        <dd class="col-md-7 col-sm-8">{{menteeinfo['PreferredMentor'] ? menteeinfo['PreferredMentor']['FullName'] : ''}} </dd>
                    </dl>
                            
                           
                </div>
            </div>
            
        </div>
        <div class="row">
            <!-- <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br/>
                    <a href="">Bootsnipp Profile</a><br/>
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br/>
                    <a href="">Web Developer</a><br/>
                    <a href="">WordPress</a><br/>
                    <a href="">WooCommerce</a><br/>
                    <a href="">PHP, .Net</a><br/>
                </div>
            </div> -->
            <div class="col-md-12">
                <mat-tab-group>
                    <mat-tab label="Type of experience I seek in a mentor"> 
                        <br>
                        <div *ngFor="let item of menteeinfo['Experiences']; let i=index">
                            <mat-checkbox  [checked]="item['Selected']" disabled>
                                {{item['Text']}}&nbsp;
                            </mat-checkbox>

                            <br />
                        </div>
                    </mat-tab>
                    <mat-tab label="What would I like to achieve">
                        <br>
                        <div *ngFor="let item of menteeinfo['DomainAreas']; let i=index">
                            <mat-checkbox  [checked]="item['Selected']" disabled>
                                {{item['Text']}}&nbsp;
                            </mat-checkbox>

                            <br />
                        </div>
                    </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
        
</div>
    </mat-dialog-content>

    <!-- <mat-dialog-actions>
        <button class="mat-raised-button" (click)="cancel()">Cancel</button>&nbsp;&nbsp;
        <button class="mat-raised-button mat-primary" (click)="ok()">OK</button>
    </mat-dialog-actions> -->
</div>
