
<div class="card card-body">
    <form [formGroup]="mentorForm" (ngSubmit)="submit()">
        <!--Interests or passions-->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Interest/Passion &nbsp;<span style="color:red">*</span></mat-label>
            <textarea matInput placeholder="Enter your interests" cdkTextareaAutosize cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="5" #autosize="cdkTextareaAutosize" formControlName="Passion">
            </textarea>
            <mat-error>
                <span *ngIf="mentorForm.controls.Passion.hasError('required') && mentorForm.controls.Passion.touched">
                    Required
                </span>
                <span *ngIf="mentorForm.controls.Passion.hasError('max') && mentorForm.controls.Passion.touched">Please
                    Max characters of 500 required
                </span>
            </mat-error>
        </mat-form-field>

        <!-- professional background-->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Professional background (if applicable): eg. CA <span style="color: red;">*</span></mat-label>
            <input matInput placeholder="Enter your professional background here" type="text"
                formControlName="ProfessionalBackground" />
            <mat-icon matSuffix>work_outline</mat-icon>
            <mat-error>
                <span
                    *ngIf="mentorForm.controls.ProfessionalBackground.hasError('required') && mentorForm.controls.ProfessionalBackground.touched">
                    Required
                </span>
                <span
                    *ngIf="mentorForm.controls.ProfessionalBackground.hasError('max') && mentorForm.controls.ProfessionalBackground.touched">Please
                    Max characters of 50 required
                </span>
            </mat-error>
        </mat-form-field>
        <!--Interests in being a mentor-->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>My interest in being a mentor<span style="color:red">*</span></mat-label>
            <textarea matInput placeholder="Enter your interests in being a mentor" cdkTextareaAutosize
                cdkAutosizeMinRows="4" cdkAutosizeMaxRows="5" #autosize="cdkTextareaAutosize"
                formControlName="Interest">
        </textarea>
            <mat-error>
                <span *ngIf="mentorForm.controls.Interest.hasError('required') && mentorForm.controls.Interest.touched">
                    Required
                </span>
                <span
                    *ngIf="mentorForm.controls.Interest.hasError('max') && mentorForm.controls.Interest.touched">Please
                    Max characters of 200 required
                </span>
            </mat-error>
        </mat-form-field>
        <!--Mentoring commitment-->
        <div class="row" style="padding-left: 1em;">
            <mat-form-field appearance="outline">
                <mat-label>Select days/months/years <span style="color: red;">*</span></mat-label>
                <mat-select formControlName="MentoringCommitment">
                    <mat-option *ngFor="let item of [{Value:1, Text: 'months'}]" [value]="item['Value']">
                        {{item['Text']}}
                    </mat-option>
                </mat-select>


            </mat-form-field>
            <mat-form-field appearance="outline" class="input-width">
                <mat-label>Duration <span style="color: red;">*</span></mat-label>
                <input matInput placeholder="Duration" type="number" formControlName="UnitOfTime" />
                <mat-icon matSuffix>watch_later</mat-icon>
                <mat-error
                    *ngIf="mentorForm.controls.UnitOfTime.hasError('required')  && mentorForm.controls.UnitOfTime.touched">
                    Required
                </mat-error>
                <mat-error
                    *ngIf="mentorForm.controls.UnitOfTime.hasError('min') && mentorForm.controls.UnitOfTime.touched">
                    Minimum value must be 1
                </mat-error>
                <mat-error
                    *ngIf="mentorForm.controls.UnitOfTime.hasError('max') && mentorForm.controls.UnitOfTime.touched">
                    Maximum value must be 18 months
                </mat-error>
            </mat-form-field>
        </div>
        <!--Prior roles -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Prior Roles in RMB <span style="color: red;">*</span></mat-label>
            <input matInput placeholder="Enter your previous role" type="text" formControlName="PriorRoles" />
            <mat-icon matSuffix>work_outline</mat-icon>
            <mat-error
                *ngIf="mentorForm.controls.PriorRoles.hasError('required') && mentorForm.controls.PriorRoles.touched">
                Required
            </mat-error>
            <mat-error
                *ngIf="mentorForm.controls.PriorRoles.hasError('minlength') && mentorForm.controls.PriorRoles.touched">
                Too short
            </mat-error>
            <mat-error
                *ngIf="mentorForm.controls.PriorRoles.hasError('maxlength') && mentorForm.controls.PriorRoles.touched">
                Oops, maximum characters exceed
            </mat-error>
        </mat-form-field>
        <!--Experience and areas of value-->
        <div class="row">
            <div class="col-lg-6">
                <h6 class="card-title">I have experience in the following areas (tick as appropriate)&nbsp;<span
                        style="color:red">*</span></h6>
                <!-- <ng-container *ngFor="let item of mentorExperiences">
                    <mat-checkbox value="item['Value']">
                        {{item['Text']}}
                    </mat-checkbox>
                    <br />
                </ng-container> -->
            </div>
            {{mentorForm.controls.PriorRoles.controls | json}}
            <div class="col-lg-6">
                <h6 class="card-title">Areas in which I can add value to a mentee (tick as appropriate)<span
                        style="color:red">*</span></h6>
                <ng-container >
                    <div formArrayName="MentorDomianArea" *ngFor="let item of mentorForm.get('MentorDomianArea'); let index">
                        <mat-checkbox value="item['Value']" [formControlName]="i">
                            {{item['Text']}}
                        </mat-checkbox>
                        <br />
                    </div>
                </ng-container>
            </div>
        </div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Comments<span style="color:red">*</span></mat-label>
            <textarea matInput placeholder="Enter your comments" cdkTextareaAutosize cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="5" #autosize="cdkTextareaAutosize" formControlName="Comment">
            </textarea>
        </mat-form-field>
        <!--Save, Submit and Cancel buttons-->
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-8 col-sm-12">
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="!mentorForm.valid">&nbsp;Submit&nbsp;</button>
                &nbsp;&nbsp;&nbsp;
                <button mat-raised-button color="warn">Cancel</button>
            </div>
        </div>

    </form>
    <pre>
        {{mentor | json}}
    </pre>
</div>