<div class="container">
    <br />
    <div class="card">
        <div class="card-header">
            <h4>Mentee matching</h4>
        </div>
        <div class="card-body">
            <!-- <app-table [rowData]="rowData" [enableCheckbox]="true" [allowMultiSelect]="true"
                (getSelectedRows)="onNotifySelected($event)" [sqPaginationConfig]="tablePaginationSettings"
                [sqColumnDefinition]="columnDefinition">
            </app-table> -->
            <!-- <div *ngIf="mentees$ | async as mentees">
                <app-mentees-list [mentees]="mentees"  (automatched)='automatch($event)'></app-mentees-list>
            </div> -->
            <br />
            <br />
            <div class="container-fluid mt--7" >
                    <br />
                    <br />
                    <br />
                    <br />
                <div class="card" *ngIf="mentormatch$ | async as mentors">
                    <div class="card-header">
                        <h4>Mentorship matching results</h4>
                    </div>
                    <div class="card-body bg-secondary">
                            <br />
                            <br />
                            <br />
                        <div class="row" >
                                
                            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0"
                                *ngFor="let mentor of mentors">
                               <app-profile-card [mentor]="mentor"></app-profile-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>