<nz-spin [nzSpinning]="loading">
    <div class="row">
        <div class="col-xl-12">
            <span *ngIf="menteeData">
                <emui-profile-head-card [employeeId]="menteeData.EmployeeId"></emui-profile-head-card>
            </span>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="utils__title">
                <strong>Mentee Signup</strong>
            </div>
        </div>
        <div class="card-body">

            <form nz-form nzLayout="'vertical'" [formGroup]="signupForm">
                <div class="row">
                    <!-- interest or passions-->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="interest">Interest/Passions
                            </nz-form-label>
                            <nz-form-control [nzErrorTip]="interestErrorTpl">
                                <textarea rows="2" nz-input id="interestDescr" formControlName="interest"></textarea>
                                <ng-template #interestErrorTpl let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                        Please input your interest!
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('maxLength')">
                                        Please limit the number of characters.
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <!--End interest-->
                    <!-- duration-->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="mentoringPeriod">Mentoring period (in months)
                            </nz-form-label>
                            <nz-form-control>
                                <nz-slider [nzMarks]="marks" [nzMax]="18" [nzMin]="1" [nzStep]="1"
                                    formControlName="duration"></nz-slider>
                                <ng-container
                                    *ngIf="signupForm.get('duration').hasError('required') && submitFormStatus">
                                    <span style="color:#f5222d;">Please choose your preffered duration.</span>
                                </ng-container>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <!--End duration -->
                </div>
                <div class="row">
                    <!-- preferred mentor-->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="preferredMentorStatus">Do you have a preferred mentor
                            </nz-form-label>
                            <nz-form-control>
                                <nz-radio-group formControlName="preferredMentorStatus">
                                    <label nz-radio nzValue="yes">Yes</label>
                                    <label nz-radio nzValue="no">No</label>

                                </nz-radio-group>
                                <br />
                                <ng-container
                                    *ngIf="signupForm.get('preferredMentorStatus').hasError('required') && submitFormStatus">
                                    <span style="color:#f5222d;">Please choose your preffered mentor if you have.</span>
                                </ng-container>

                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <!--End preferred mentor-->
                    <!-- auto complete -->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <nz-form-item *ngIf="signupForm.get('preferredMentorStatus').value == 'yes'">
                            <nz-form-control>
                                <nz-form-label nzRequired nzFor="preferredSearch">Search for preferred mentor
                                </nz-form-label>
                                <input placeholder="search ..." nz-input formControlName="preferredMentor"
                                    (input)="onInput($event)" [nzAutocomplete]="auto" />
                                <nz-autocomplete #auto>
                                    <nz-auto-option *ngFor="let option of searchResults" [nzValue]="option['FullName']">
                                        <emui-avatar [src]="option['EmployeeId']" [size]="20"></emui-avatar>
                                        <span>&nbsp;{{ option['FullName'] }}</span>
                                    </nz-auto-option>
                                </nz-autocomplete>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <!--End auto complete -->
                </div>
                <div class="row">
                    <!-- preferred mentor gender-->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="preferredMentorGenderId">Select preferred mentor gender
                            </nz-form-label>
                            <nz-form-control>
                                <nz-radio-group formControlName="preferredMentorGenderId">
                                    <label nz-radio nzValue="1">Male</label>
                                    <label nz-radio nzValue="2">Female</label>
                                    <label nz-radio nzValue="3">Doesn't matter</label>
                                </nz-radio-group>
                                <br />
                                <ng-container
                                    *ngIf="signupForm.get('preferredMentorGenderId').hasError('required') && submitFormStatus">
                                    <span style="color:#f5222d;"> Please select your gender. </span>
                                </ng-container>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <!--End preferred mentor gender-->
                    <!-- age-->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="preferredMentorAge">Select preferred mentor age
                            </nz-form-label>
                            <nz-form-control>
                                <nz-radio-group formControlName="preferredMentorAgeId">
                                    <label nz-radio nzValue=1>Older than me</label>
                                    <label nz-radio nzValue=2>Younger than me</label>
                                    <label nz-radio nzValue=3>Doesn't matter</label>
                                </nz-radio-group>
                                <br />
                                <ng-container
                                    *ngIf="signupForm.get('preferredMentorAgeId').hasError('required') && submitFormStatus">
                                    <span style="color:#f5222d;">Please choose your age preference.</span>
                                </ng-container>

                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <!--End age -->
                </div>
                <div class="row">
                    <!-- achievements-->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="achievement">What I would like to achieve from mentoring
                                (Choose 3)
                            </nz-form-label>
                            <nz-form-control>
                                <li *ngFor="let checkbox of signupForm.get('domainAreas')?.controls; let i = index"
                                    formArrayName="domainAreas">
                                    <label nz-checkbox [formControlName]="i">{{domainAreasMeta[i].label}}</label>
                                </li>
                                <ng-container class="has-error"
                                    *ngIf="signupForm.get('domainAreas').hasError('limit') && signupForm.get('domainAreas').touched">
                                    <span style="color:#f5222d;">Choose only three.</span>
                                </ng-container>
                                <ng-container *ngIf="signupForm.get('domainAreas').hasError('zero')">
                                    <span style="color:#f5222d;">Choose at least one.</span>
                                </ng-container>

                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <!--End preferred mentor gender-->
                    <!-- age-->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="experience">Type of experience I seek in a mentor
                            </nz-form-label>
                            <nz-form-control>
                                <nz-radio-group formControlName="experiences" nzName="radiogroup">
                                    <li *ngFor="let item of experiencesMeta; let i = index">
                                        <label nz-radio [nzValue]="item.value">{{experiencesMeta[i].label}}</label>
                                    </li>
                                </nz-radio-group>
                                <br />
                                <ng-container
                                    *ngIf="signupForm.get('experiences').hasError('required') && submitFormStatus">
                                    <span style="color:#f5222d;">Choose type of experience.</span>
                                </ng-container>
                            </nz-form-control>
                        </nz-form-item>

                    </div>
                    <!--End age -->
                </div>
                <!-- any info-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="moreInfo">Any other relevant information which might assist
                            with the matching process
                        </nz-form-label>
                        <nz-form-control>
                            <textarea rows="2" nz-input id="interestDescr" formControlName="comment"></textarea>
                            <ng-container *ngIf="signupForm.get('comment').hasError('required') && submitFormStatus">
                                <span style="color:#f5222d;"> Please input your comment!</span>
                            </ng-container>
                            <ng-container *ngIf="signupForm.get('comment').hasError('maxLength')">
                                <span style="color:#f5222d;">Please limit the number of characters.</span>
                            </ng-container>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label nz-checkbox formControlName="shareProfile"> I am comfortable that you share the above profile
                        with a prospective/assigned mentor</label>
                </div>
                <br />
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label nz-checkbox formControlName="readTerms"> I have read and understood the </label> <a
                        href="http://thevault/ourbusiness/HC_Enablement/Mentoring/index_orig1.html"
                        target="_blank">criteria to become a mentee</a>
                    <br />
                    <ng-container
                        *ngIf="signupForm.get('readTerms').hasError('required') && signupForm.get('readTerms').touched">
                        <span style="color:#f5222d;"> Accept terms and conditions.</span>
                    </ng-container>

                </div>

                <div class="col-lg-12">
                    <div class="form-actions">
                        <span *ngIf="!menteeData?.MenteeId">
                            <!-- <span> -->
                            <button nz-button nzType="primary" class="mr-2" (click)="submitForm()"><i nz-icon
                                    nzType="user" nzTheme="outline"></i> Save </button>

                        </span>
                        <span *ngIf="menteeData?.MenteeId">
                            <!-- <span> -->
                            <button nz-button nzType="default" class="mr-2" (click)="updateForm()"><i nz-icon
                                    nzType="edit" nzTheme="outline"></i> Update</button>
                        </span>
                        <button nz-button [routerLink]="['/mentee/my-subscriptions']"
                            routerLinkActive="router-link-active"><span class="lnr lnr-undo"></span>
                            Cancel</button>

                    </div>

                </div>
            </form>
        </div>
    </div>
</nz-spin>