// .body2 {
//   font-family: Open Sans, sans-serif;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1.5;
//   margin: 0;
//   text-align: left;
//   color: #525f7f;
//   background-color: #f8f9fe;
//   }
//   .typeahead-full-width {
//     width: 100%;
//   }
//   .is-loading ::ng-deep .mat-option-text {
//     display: flex;
//     justify-content: center;
//   }

  .custom-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  .typeahead-full-width {
    width: 100%;
  }