<div class="spinner-container" *ngIf="(loading$ | async )">
        <mat-spinner></mat-spinner>
</div>
<div *ngIf="menteeDisplayData$ | async as displayData">
    <div class="card">
        <div class="card-header">
            <h4>{{title}}</h4>
        </div>

        <div class="card-body">
            <form [formGroup]="menteeForm" (ngSubmit)="save()">
                <!--Interest-->
                <app-interest formControlName="Interest" [displayText]="'Interests/passion'"></app-interest>
                <!-- <app-gender formControlName="gender" [genderData]="displayData['results'][0]['Gender']"
                    [ageData]="displayData['results'][0]['AgePreferences']">
                </app-gender> -->
                <!--Preferences-->
                <app-mentee-preference formControlName="Gender" [genderData]="displayData['results'][0]['Gender']"
                    [ageData]="displayData['results'][0]['AgePreferences']"
                    [mentoringTimeData]="displayData['results'][0]['UnitOfTimes']"></app-mentee-preference>
                <br />
                <!-- Experience and Achievement-->
                <app-achievement-experience [achievementData]="displayData['results'][0]['DomainAreas']"
                    [experienceData]="displayData['results'][0]['Experiences']" formControlName="experience">
                </app-achievement-experience>

                <!-- Comments-->
                <app-interest formControlName="Comment" [displayText]="'Comments'"></app-interest>
                <!--Terms and conditions-->
                <app-terms-conditions formControlName="conditions"></app-terms-conditions>
                <br />
                <!--Save, Submit and Cancel buttons-->
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-8 col-sm-12">
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="!menteeForm.valid">&nbsp;Save&nbsp;</button>
                        &nbsp;&nbsp;&nbsp;
                        <button mat-raised-button color="warn">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <pre>
        {{menteeForm.value | json}}
    </pre>
</div>