.textarea-full-width {
    width: 100%;
  }
.custom-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
.typeahead-full-width {
      width: 100%;
}

.is-loading ::ng-deep .mat-option-text {
  display: flex;
  justify-content: center;
}
img {
  border-radius: 100%;
}