<div class="spinner-container" *ngIf="(loading$ | async )">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="mentor" class="card">
    <div class="card-header">
        <h4>{{title}}</h4>
    </div>
    
    <mat-card class="card"*ngIf="closeSignupCard && mentor['MentorId'] == 0">
        <mat-card-content>
            <mat-card-title class="text-right card-height">
                <mat-icon (click)="closeCard()" style="cursor: pointer">close</mat-icon>
            </mat-card-title>
            <div class="text-center text-size">
                <strong>Thank you for your interest in becoming a mentor.</strong><br>
                Should you require more information on what it means to be a mentor or the matching process please click
                <a href="http://thevault/ourbusiness/HC_Enablement/Mentoring/index_orig1.html"
                    target="_blank">here</a>.<br>
                To submit your profile please complete the fields below.

            </div>
        </mat-card-content>
    </mat-card>
    <div class="card-body">
        <form [formGroup]="mentorForm">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!--Interests in being a mentor-->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>My interest in being a mentor<span style="color:red">*</span></mat-label>
                        <textarea matInput placeholder="Enter your interests in being a mentor" cdkTextareaAutosize
                            cdkAutosizeMinRows="2" cdkAutosizeMaxRows="3" #autosize="cdkTextareaAutosize"
                            formControlName="Interest">
        </textarea>
                        <mat-error>
                            <span
                                *ngIf="mentorForm.controls.Interest.hasError('required') && mentorForm.controls.Interest.touched">
                                Required
                            </span>
                            <span
                                *ngIf="mentorForm.controls.Interest.hasError('max') && mentorForm.controls.Interest.touched">Please
                                Max characters of 200 required
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- professional background-->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Professional background (if applicable): eg. CA <span style="color: red;">*</span>
                        </mat-label>
                        <input matInput placeholder="Enter your professional background here" type="text"
                            formControlName="ProfessionalBackground" />
                        <mat-icon matSuffix>work_outline</mat-icon>
                        <mat-error>
                            <span
                                *ngIf="mentorForm.get('ProfessionalBackground').hasError('required') && mentorForm.get('ProfessionalBackground').touched">
                                Required
                            </span>
                            <span
                                *ngIf="mentorForm.get('ProfessionalBackground').hasError('max') && mentorForm.get('ProfessionalBackground').touched">Please
                                Max characters of 50 required
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!--Interests or passions-->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Interests / passions &nbsp;<span style="color:red">*</span></mat-label>
                        <textarea matInput placeholder="Enter your interests" cdkTextareaAutosize cdkAutosizeMinRows="2"
                            cdkAutosizeMaxRows="3" #autosize="cdkTextareaAutosize" formControlName="Passion">
                </textarea>
                        <mat-error>
                            <span
                                *ngIf="mentorForm.get('Passion').hasError('required') && mentorForm.get('Passion').touched">
                                Required
                            </span>
                            <span
                                *ngIf="mentorForm.get('Passion').hasError('max') && mentorForm.get('Passion').touched">Please
                                Max characters of 500 required
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- available -->
                <!-- <div class="col-lg-6 col-md-12 col-sm-12">

                    <mat-checkbox formControlName="Available">
                        I confirm that I am currently available to provide mentorship
                    </mat-checkbox>
                    <br />
                    <mat-error
                        *ngIf="mentorForm.get('Available').hasError('required') && mentorForm.get('Available').touched">
                        Check to indicate availability
                    </mat-error>

                </div> -->
            </div>
            <div class="row">
                <!--Mentoring commitment-->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h6 class="card-title">Number of months you are available to provide mentorship (max 18 months)<span
                        style="color: red;">*</span> </h6>
                    <mat-form-field appearance="outline" class="months-width">
                        <!-- <mat-label>Number of months you are available to provide mentorship (max 18 months)<span
                                style="color: red;">*</span></mat-label> -->
                        <!-- <span matPrefix>+1 &nbsp;</span> -->
                        <input matInput placeholder="Duration" type="number" formControlName="Duration" />
                        <!-- <mat-icon matSuffix>watch_later</mat-icon> -->
                        <!-- <span matSuffix>months</span> -->
                        <mat-error
                            *ngIf="mentorForm.get('Duration').hasError('required')  && mentorForm.get('Duration').touched">
                            Required
                        </mat-error>
                        <mat-error
                            *ngIf="mentorForm.get('Duration').hasError('min') && mentorForm.get('Duration').touched">
                            Minimum value must be 1
                        </mat-error>
                        <mat-error
                            *ngIf="mentorForm.get('Duration').hasError('max') && mentorForm.get('Duration').touched">
                            Maximum value must be 18 months
                        </mat-error>
                    </mat-form-field>&nbsp;
                    <mat-form-field appearance="filled">

                        <!-- <mat-label>Unit of time <span style="color: red;">*</span></mat-label> -->
                        <input matInput type="text" 
                          
                            value="month(s)"/>
                        <!-- <mat-icon matSuffix>calendar_today</mat-icon> -->
                        <mat-error
                            *ngIf="mentorForm.get('UnitOfTimeId').hasError('required')  && mentorForm.get('UnitOfTimeId').touched">
                            Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!--Prior roles -->
                    <h6 class="card-title">Prior roles in FirstRand Group<span
                        style="color: red;">*</span> </h6>
                    <mat-form-field appearance="outline" class="full-width">
                        <!-- <mat-label>Prior roles in RMB <span style="color: red;">*</span></mat-label> -->
                        <input matInput placeholder="Enter your previous role" type="text"
                            formControlName="PriorRoles" />
                        <mat-icon matSuffix>work_outline</mat-icon>
                        <mat-error
                            *ngIf="mentorForm.get('PriorRoles').hasError('required') && mentorForm.get('PriorRoles').touched">
                            Required
                        </mat-error>
                        <mat-error
                            *ngIf="mentorForm.get('PriorRoles').hasError('minlength') && mentorForm.get('PriorRoles').touched">
                            Too short
                        </mat-error>
                        <mat-error
                            *ngIf="mentorForm.get('PriorRoles').hasError('maxlength') && mentorForm.get('PriorRoles').touched">
                            Oops, maximum characters exceeded.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h6 class="card-title">I have experience in the following areas (tick as appropriate)&nbsp;<span
                            style="color:red">*</span></h6>
                    <ng-container>
                        <div formArrayName="Experiences" *ngFor="let item of sortedArrayExperiences; let i=index">
                            <mat-checkbox value="item[i]['Value']" [formControlName]="i">
                                {{sortedArrayExperiences[i]['Text']}}
                            </mat-checkbox>
                            <br />
                        </div>
                    </ng-container>
                    <mat-error
                        *ngIf="mentorForm.get('Experiences').hasError('zero') && mentorForm.get('Experiences').touched">
                        Choose at least one.
                    </mat-error>
                    <mat-error
                    *ngIf="mentorForm.get('Experiences').hasError('required') && mentorForm.get('Experiences').touched">
                    Choose at least one experience.
                </mat-error>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h6 class="card-title">Areas in which I can add value to a mentee (tick as appropriate)
                        <span style="color:red">*</span>
                    </h6>
                    <ng-container formArrayName="MentorDomianArea"
                        *ngFor="let item of sortedArrayDomainAreas; let i=index">
                        <mat-checkbox value="item['Value']" [formControlName]="i">
                            {{sortedArrayDomainAreas[i]['Text']}}
                        </mat-checkbox>

                        <br />
                    </ng-container>
                    <mat-error
                        *ngIf="mentorForm.get('MentorDomianArea').hasError('zero') && mentorForm.get('MentorDomianArea').touched">
                        Choose at least one.
                    </mat-error>
                    <mat-error
                    *ngIf="mentorForm.get('MentorDomianArea').hasError('required') && mentorForm.get('MentorDomianArea').touched">
                    Choose at least one value.
                </mat-error>
                </div>
            </div>
            <!-- Comments -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Any other relevant information which might assist with the matching process<span
                        style="color:red">*</span></mat-label>
                <textarea matInput placeholder="Enter your comments" cdkTextareaAutosize cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="3" #autosize="cdkTextareaAutosize" formControlName="Comment">
            </textarea>
            </mat-form-field>
            <!--Terms and conditions-->
            <div class="col-lg-12 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- available -->
                            <div class="col-lg-12 col-md-12 col-sm-12">

                                <mat-checkbox formControlName="Available">
                                    I confirm that I am currently available to provide mentorship
                                </mat-checkbox>
                                <br />
                                <mat-error
                                    *ngIf="mentorForm.get('Available').hasError('required') && mentorForm.get('Available').touched">
                                    Check to indicate availability
                                </mat-error>

                            </div>


                            <!--terms-->
                            <div class="col-lg-12 col-md-12 col-sm-12">

                                <mat-checkbox formControlName="ReadTerms">
                                    I have read and understood the <a
                                        href="http://thevault/ourbusiness/HC_Enablement/Mentoring/index_orig1.html"
                                        target="_blank">criteria to become a mentor</a>
                                </mat-checkbox>
                                <br />
                                <mat-error
                                *ngIf="mentorForm.get('ReadTerms').hasError('required') && mentorForm.get('ReadTerms').touched">
                                Accept terms and conditions.
                            </mat-error>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <!--Save, Submit and Cancel buttons-->
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-8 col-sm-12">
                    <span *ngIf="!IsEdit">
                        <button mat-raised-button color="primary" type="submit" 
                            (click)="onSubmitMentor()">&nbsp;Submit&nbsp;
                        </button>
                        &nbsp;&nbsp;&nbsp;
                    </span>
                    <span *ngIf="IsEdit">
                        <button mat-raised-button color="primary" type="button" [disabled]="!mentorForm.valid"
                            (click)="onSaveMentor()">&nbsp;Save&nbsp;</button>
                        &nbsp;&nbsp;&nbsp;
                    </span>
                    <button mat-raised-button color="warn" (click)="cancelMentor()">Cancel</button>
                </div>
            </div>
        </form>

    </div>
</div>