<!-- this is the markup. you can change the details (your own name, your own avatar etc.) but don’t change the basic structure! -->
<div class="card" *ngIf="matches.length">
    <div class="card-header">
        <h5 class="text-center"> {{isDelete ? savedMatchTitle : matchTitle}} for &nbsp;{{menteeName}} </h5>
    </div>
    <div class="card-body row">
        <div class="col-lg-4" *ngFor="let item of matches">
            <br> <br> <br> <br>
            <div class="profile-card">
                <div class="mask-shadow" ></div>
                <header>
                    <!-- here’s the avatar -->
                    <a href="javascript:void(0)">
                        <img src="../user_photos/{{item.EmployeeId}}.jpg?size=200" alt=''>
                    </a>
                    <br>
                    <!-- name -->
                    <h1>{{item.Name}}</h1>
                    <!-- and role or location -->
                    <h2>{{item.Division}}</h2>
                    <!-- and role or location -->
                    <h3>Score: {{item.PercentageScore}} %</h3>
                </header>
                <!-- bit of a bio; who are you? -->
                <div class="profile-bio">
                    <button mat-raised-button color="primary" type="button"
                        (click)="onViewMentorProfile(item.MentorId)">&nbsp;View mentor profile&nbsp;
                    </button>
                    <br>
                    <br>
                    <button mat-raised-button color="accent" type="button" [routerLink]="['/admin/view', item.MentorId, item.MenteeId, item.MatchTypeId]">&nbsp; &nbsp;&nbsp; &nbsp;Select mentor&nbsp;&nbsp;&nbsp; &nbsp;
                    </button>
                </div>


            </div>
        </div>
        <div class="col-12 justify-content-end d-flex">
                <span *ngIf="!isDelete"><button mat-raised-button color="primary" type="button" (click)="onSaveResults()">&nbsp;Save results&nbsp;
                    </button></span>
                    &nbsp;&nbsp;
                <span *ngIf="isDelete">
                    <button mat-raised-button color="warn" type="button" (click)="onDeleteMentors()">&nbsp;Delete results&nbsp;
                </button>
            </span>
           
            
        </div>
    </div>
</div>