
    <div class="spinner-container" *ngIf="(loading$ | async )">
        <mat-spinner></mat-spinner>
    </div>
    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="mentors$ | async">
        
        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let mentor">{{mentor.MentorId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="division">
            <mat-header-cell *matHeaderCellDef>Division</mat-header-cell>
            <mat-cell *matCellDef="let mentor">{{mentor.Division}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="duration">
            <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
            <mat-cell *matCellDef="let mentor">{{mentor.CreatedDateTime}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let mentee"></mat-cell>
        </ng-container>
        <ng-container matColumnDef="finishDate">
            <mat-header-cell *matHeaderCellDef>Finish Date</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let mentee"></mat-cell>
        </ng-container>
        <ng-container matColumnDef="mentor">
            <mat-header-cell *matHeaderCellDef>Mentor</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let mentor"></mat-cell>
        </ng-container>
       
        <!-- Action Column -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <td mat-cell *matCellDef="let mentee" class="action-link"> 
                <button mat-icon-button color="warn" (click)="openDialog('Update',mentee)">
                        <mat-icon class="mat-18">edit</mat-icon>
                </button>   
                <button mat-icon-button color="warn" (click)="openDialog('Update',element)">
                        <mat-icon class="mat-18">delete</mat-icon>
                </button>
        </td>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
