
 
        <div [formGroup]="form" >
            <mat-form-field appearance="outline" class="textarea-full-width">
                <mat-label>Interests/Passion</mat-label>
                <textarea matInput placeholder="Interests/Passion" cdkTextareaAutosize cdkAutosizeMinRows="4"
                    cdkAutosizeMaxRows="5" #autosize="cdkTextareaAutosize" formControlName="passion">
                          </textarea>
                <mat-error
                    *ngIf="passionControl.hasError('required') && passionControl.touched">
                    Required
                </mat-error>
            </mat-form-field>

        </div>