/* You can add global styles to this file, and also import other style files */

@import './node_modules/bootstrap-scss-only/scss/bootstrap.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner-container {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
    // position: relative;
    // height: 300px;
    // width: 345px;
    // display: flex;
    // background: white;
    // margin-top: 70px;
    // z-index: 1;
    // opacity: 0.5;
    // justify-content: center;
  }

  
/* Transparent Overlay */
.spinner-container:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.spinner-container:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


