<div [formGroup]="form" class="col-lg-6 col-md-12 col-sm-12">
    <h5 class="card-title">{{experienceTitle}} <span style="color:red">*</span></h5>
    <!-- <div *ngFor="let item of experienceData; let i = index">
        <mat-checkbox [formControlName]="item['Name']" [value]="item['Value']">
           {{item['Text']}}
        </mat-checkbox>
        <br />
    </div>
    <label id="custom-radio-group-label">{{label}}</label> -->
    <mat-radio-group aria-labelledby="custom-radio-group-label" class="custom-radio-group">
        <mat-radio-button class="custom-radio-button" *ngFor="let item of experienceData; let i = index"
            [value]="item['name']">
            {{item['Text']}}
        </mat-radio-button>
    </mat-radio-group>
</div>